h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  margin: 4rem;
}

.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.cat-svg {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.btn-prime {
  background-color: #d0d0d0;
  border-radius: 10px;
  color: rgb(61, 61, 61);
  padding: 0rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 5px solid rgb(114, 80, 7);
  display: block;
  margin: 0 auto;
}

.btn-prime:hover {
  background-color: rgb(114, 80, 7);
  color: white;
  border: 5px solid rgb(216, 209, 171);
}

.loader-wrapper {
  border: 16px solid #f3f3f3; /* tło spinnera */
  border-top: 16px solid #ecbb27; /* kolor "obracającej się części" */
  border-radius: 50%; /* okrąg */
  width: 80px;
  height: 80px;
  margin: 50px auto; /* centrowanie poziome */
  animation: spin 2s linear infinite; /* animacja */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
